# Byte-compiled Python
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# ensmic
batches/
predictions/
data/
results/

# Testing
debug.sh
debug.py

# Datasets links
data.x-ray
data.ct
